<footer>
    <div>
        Develop by <span class="bold">Daniel Hernández</span>
    </div>
    <div class="social_media">
        <a href="https://web.whatsapp.com/"><mat-icon>whatsapp</mat-icon></a>
        <a href="https://discord.com/"><mat-icon src="">discord</mat-icon></a>
        <a href="https://www.tiktok.com/"><mat-icon src="">tiktok</mat-icon></a>
        <a href="https://web.telegram.org/"><mat-icon src="">telegram</mat-icon></a>
        <a href="https://www.reddit.com/"><mat-icon src="">reddit</mat-icon></a>
        <a href="https://www.paypal.com/"><mat-icon src="">paypal</mat-icon></a>
    </div>
</footer>
