mat-toolbar {
    background: #e5e5e5;
}
span {
    font-weight: 500;
}
.desktop {
    display: block;
}
.example-spacer {
    flex: 1 1 auto;
}
.mobile {
    display: none;
}
@media (max-width: 500px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}