.container {
    margin: 20px;
}
.title {
    color: #707070;
    margin-top: 16px;
    text-align: center;
}

.sectionTable {
    
    color: white;
    max-height: 500px;
    overflow-y: scroll;
    margin-top: 5px;
}
.dataTable {
    align-items: center;
    background: #424242;
    display: flex;
    height: 50px;
    margin-bottom: 10px;
    padding: 0 16px;
}
.infoTable {
    cursor: pointer;
    width: 100%;
}